
h1{
    text-align: center;
    text-shadow: 2px 2px;
}


  

body {
   background-color: rgb(255, 77, 0);
}



p {
     text-align: center;
}

li {
      text-align: center;
}

body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }



   




 


